<html>
	<head>
		<title>{{ title }}</title>
	</head>
	<body>
		<h1>Simple view template</h1>

		<h3>
			{% if user.is_authenticated %}
				Welcome, {{ user.username }}.
			{% else %}
				Who are you?
			{% endif %}
		</h3>

		<p>{{ text }}</p>
		<ul>
			{% for mon in months %}
				<li>{{ mon|upper }}</li>
			{% endfor %}
		</ul>
		<hr/>
		<ul>
			{% for user in users %}
				<li>
					Id: {{ user.pk }}<br>
					Name: {{ user.first_name }} {{ user.last_name }}<br/>
					Login: {{ user.username }}
				</li>
			{% endfor %}
		</ul>

	</body>
</html>